name: Docs

on:
  workflow_dispatch:
  release:
    types: [created]

jobs:
  docs:
    name: Docs
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node: [18]

    permissions:
      contents: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          registry-url: https://registry.npmjs.org/

      - name: Install Node Modules
        run: npm i --include=dev

      - name: Generate Docs
        run: npm run docs

      - name: Push Docs
        run: |
          REPO="https://${GITHUB_ACTOR}:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git"
          TARGET_BRANCH="docs"
          git clone $REPO out -b $TARGET_BRANCH
          rm -rfv out/docs/*
          rsync -vaI LICENSE out/
          rsync -vaI README.md out/
          rsync -vaI docs/ out/docs
          cd out
          git add --all .
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_EMAIL}"
          git commit -m "docs: TypeDoc build for ${GITHUB_SHA}" || true
          git push origin $TARGET_BRANCH
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_ACTOR: BR88C
          GITHUB_EMAIL: br88c@br88c.dev
